* {
    margin: 0;
}

:root {
    --blue: #46B1DE;
    --grey: #1B1D1F;
}

@font-face {
    font-family: "Sofia Sans";
    font-display: swap;
    src: url("/fonts/SofiaSans.woff2") format("woff2"), 
         url("/fonts/SofiaSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

.main {
    position: relative;
    display: flex;
    background-image: url(/img/Lady.png), url(/img/Background.jpg);
    background-position: right bottom, center;
    background-size: auto,cover;
    background-repeat: no-repeat, repeat;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 663px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    max-width: 97%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1180px;
    top: 65px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.logo {
    display: flex;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 38px;
    line-height: 30px;
    align-items: center;
    color: var(--blue);
    gap: 7.3px;
}

.logo span:nth-child(1) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo span:last-child {
    font-size: 26.85px;
}

.mobile_header {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 80px;
    padding: 17px 0 0 0;
}

a {
    text-decoration: none;
    color: var(--grey);
    font-size: 16px;
}

.tel_lang {
    display: flex;
    gap: 23px;
    height: max-content;
    padding-top: 17px;
}

header div.tel {
    height: max-content;
    align-items: center;
    display: flex;
    gap: 5px;
}

.lang span{
    font-weight: 600;
}

/* Main */
.section {
    margin: 0 auto;
    width: 1180px;
    max-width: 97%;
}
 
.cutaway {
    max-width: 97%;
    margin-top: 185px;
    color: var(--grey);
    position: relative;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2rem;
}

h1 span {
    color: var(--blue);
}

.cutaway p {
    margin-top: 30px;
    width: 464px;
    height: 110px;
    line-height: 140%;
    font-size: 16px;
}

.button {
    display: flex;
    gap: 120px;
}

.button a {
    width: 180px;
    height: 60px;
    border-radius: 8px;
    text-align: center;
    line-height: 60px;
    font-size: 19px;
    font-weight: 600;
}

.button a:nth-child(1) {
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
    box-shadow: 0px 2px 10px #46B1DE;
    color: #FFFFFF;
    border: 1px solid var(--blue);
    
}

.button a:nth-child(2) {
    background: #FFFFFF;
    border: 1px solid #DDE0DC;
    box-shadow: 0px 2px 10px #DDE0DC;
    color: var(--blue);
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    gap: 70px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%);
}

.card div {
    display: flex;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 1px solid #D8E1E1
}

.card div span:nth-child(1) {
    display: flex;
    color: var(--blue);
    font-size: 65px;
    align-items: center;
    text-align: center;
}

.card div span{ 
    padding-left: 15px;
}

.card div span:nth-child(2) {
    display: flex;
    color: var(--grey);
    align-items: center;
    white-space: pre-line;
    font-size: 14px;
}

/* Part 2 */
section.section {
    margin-top: 148px;
    color: var(--grey);
}

.caption h2 {
    font-weight: 400;
    font-size: 34px;
}

.caption h2 span {
    color: var(--blue);
}

.section div.caption {
    text-align: center;
}

.table {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 176px);
    grid-auto-flow: column;
    width: 1020px;
    height: 396px;
    background: #A1C7D4;
    border-radius: 12px;
    margin: 55px auto 0 auto;
    padding: 16px 20px;
    row-gap: 12px;
    column-gap: 40px;
    box-sizing: border-box;
}

.table div {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 0 13px 0 20px;
}

.table span {
    display: flex;
    color: var(--blue);
}

.table span span:nth-child(1) {
    display: flex;
    align-items: center;
    font-size: 40px;
    padding: 8px 15px 0 0;
}

.table span span:nth-child(2) {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    padding-top: 8px;
}

.table p {
    display: inline-block;
    margin-top: 25px;
    line-height: 19px;
}

.field {
    width: 845px;
    height: 265px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 87px auto 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.in_field {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    
    height: 247px;
    padding: 29px 18px 0 18px;
    box-sizing: border-box;
}

.field h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 32px;
}

.field p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

form {
    margin-top: 44px;
    display: flex;
    gap: 70px;
}

form span {
    height: 30px;
    position: absolute;
    margin: 13px 0 13.5px 43px;
    border: 1px solid black;
    z-index: 1;
}

input {
    position: relative;
    font-weight: 600;
    font-size: 19px;
    height: 57px;
    width: 233px;
    border: none;
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.71);
    border-radius: 8px;
    text-align: center;
    color: rgba(27, 29, 31, 0.51);
}

.icon {
    position: absolute;
    z-index: 1;
    padding: 16px 10px 16px 10px;
}

button {
    width: 180px;
    height: 57px;
    background-color: #46B1DE;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 19px;
}

.photo {
    width: 980px;
    display: flex;
    gap: 70px;
    margin: 90px auto;
}

/* В футері трошки відхилилась від чітких відстаней, бо на великому екрані каряво виглядало, текст йшов вліво */
footer{
    height: 400px;
    background: linear-gradient(91.75deg, #A1C7D4 18.03%, #0680AA 98.14%);
    padding-top: 57px;
}

.footer {
    width: 1130px;
    max-width: 97%;
    margin: 0 auto;
    display: flex;
    gap: 45%;
    padding-left: 10px;
}

.grid {
    display: grid;
    width: 425px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: #0F2D4A;
    height: 245px;
}

.one {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 38.7869px;
    line-height: 30px;
    align-items: center;
    height: 91px;
}

.one span {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 425px;
}

.one span span {
    font-size: 26.8525px;
    padding: 0;
}

.two {
    display: flex;
    flex-direction: column;
    margin: 30px 160px 0 0;
    gap: 20px;
    font-size: 20px;
    
}

.three {
    margin-top: 67px;
    font-size: 20px;
}

.three span:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 7px;
}

.contact {
    color: white;
    display: flex;
    flex-direction: column;
    height: 333px;
    gap: 15px;
}

.contact h3 {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact a {
    font-size: 20px;
    color: #FFFFFF;
}

.contact p:last-child {
    align-self: flex-end;
    font-size: 10px;
}